
<div class="nav" >
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/generate">Generate</a></li>
    <li><a href="/codes">Codes</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</div>
  